<a href="https://colab.research.google.com/github/NikhilTummala/ICP-2/blob/main/ICP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ICP 2
# Question 1

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sorting ages
ages.sort()
print("Sorted ages: ", ages) #To print ages

#Finding Min and Max age
min_age = min(ages)
max_age = max(ages)
print("Min age:", min_age)
print("Max age:", max_age)

# Add min and max age to the list again
ages.append(min_age)
ages.append(max_age)
ages.sort()  # Sorting again after adding new elements
print("Updated ages:", ages)

# Finding median
n = len(ages)
if n % 2 == 0:
    median = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median = ages[n//2]
print("Median age:", median)

# Finding average age
average = sum(ages) / n
print("Average age:", average)

# Finding range
age_range = max_age - min_age
print("Range of ages:", age_range)

Sorted ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Updated ages: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [ ]:
#ICP 2
#Question 2

# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog["name"] = "Buddy"
dog["color"] = "Brown"
dog["breed"] = "Labrador"
dog["legs"] = 4
dog["age"] = 3

# Create a student dictionary
student = {
    "first_name": "Nikhil",
    "last_name": "Tummala",
    "gender": "Male",
    "age": 18,
    "marital_status": "Single",
    "skills": ["Python", "Machine Learning"],
    "country": "India",
    "city": "Vizag",
    "address": "ABCD st"
}

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check its data type
skills = student["skills"]
print("Skills:", skills)
print("Type of skills:", type(skills))  # Should be a list

# Modify the skills values by adding one or two skills
student["skills"].extend(["Data Science", "SQL"])
print("Updated skills:", student["skills"])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Length of student dictionary: 9
Skills: ['Python', 'Machine Learning']
Type of skills: <class 'list'>
Updated skills: ['Python', 'Machine Learning', 'Data Science', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['Nikhil', 'Tummala', 'Male', 18, 'Single', ['Python', 'Machine Learning', 'Data Science', 'SQL'], 'India', 'Vizag', 'ABCD st']

In [ ]:
#ICP 2
#Question 3

# Create a tuple containing names of your sisters and brothers
sisters = ("Ananya", "Siri")
brothers = ("Arjun", "Rohan")

# Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters
print("My Siblings are", siblings)

# Count the number of siblings
num_siblings = len(siblings)
print("Number of siblings are", num_siblings)

# Modify the siblings tuple by adding the names of father and mother
family_members = siblings + ("Ravi", "Lakshmi")  # Adding parents' names
print("Family members:", family_members)

My Siblings are ('Arjun', 'Rohan', 'Ananya', 'Siri')
Number of siblings are 4
Family members: ('Arjun', 'Rohan', 'Ananya', 'Siri', 'Ravi', 'Lakshmi')

In [ ]:
#ICP 2
#Question 4

# Given sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
print("Length of it-companies is", len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("Updated it-companies are", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Tesla', 'Spotify', 'Netflix'])
print("Updated it-companies after adding multiple:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('IBM')  # If 'IBM' exists, it will be removed
print("it-companies after removing IBM:", it_companies)

# Difference between remove and discard
# - remove() raises an error if the item is not found in the set
# - discard() does not raise an error if the item is missing

# Join A and B
A_B_union = A.union(B)
print("Union of A and B:", A_B_union)

# Find A intersection B
A_B_intersection = A.intersection(B)
print("Intersection of A and B:", A_B_intersection)

# Is A subset of B
print("Is A subset of B?", A.issubset(B))

# Are A and B disjoint sets
print("Are A and B disjoint sets?", A.isdisjoint(B))

# Join A with B and B with A (same as union)
print("A union B:", A | B)
print("B union A:", B | A)

# Find the symmetric difference between A and B
A_B_sym_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_B_sym_diff)

# Delete the sets completely
del A, B
print("Sets A and B deleted.")

# Convert the ages list to a set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it-companies is 7
Updated it-companies are {'IBM', 'Facebook', 'Amazon', 'Apple', 'Twitter', 'Oracle', 'Microsoft', 'Google'}
Updated it-companies after adding multiple: {'IBM', 'Spotify', 'Amazon', 'Netflix', 'Oracle', 'Microsoft', 'Apple', 'Facebook', 'Tesla', 'Twitter', 'Google'}
it-companies after removing IBM: {'Spotify', 'Amazon', 'Netflix', 'Oracle', 'Microsoft', 'Apple', 'Facebook', 'Tesla', 'Twitter', 'Google'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B deleted.
Length of age list: 8
Length of age set: 5

In [ ]:
#ICP 2
#Question 5

import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle:", _area_of_circle_)

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle:", _circum_of_circle_)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with user input radius:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 30
Area of the circle with user input radius: 2827.4333882308138

In [ ]:
#ICP 2
#Question 6

# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words into a set to get unique words
unique_words = set(words)

# Get the number of unique words
num_unique_words = len(unique_words)

print("Unique words:", unique_words)
print("Number of unique words:", num_unique_words)

Unique words: {'teach', 'am', 'and', 'to', 'inspire', 'a', 'love', 'I', 'people', 'teacher'}
Number of unique words: 10

In [ ]:
#ICP 2
#Question 7

# Print the formatted lines using tab escape sequences
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
#ICP 2
#Question 8

# Given values
radius = 10
area = 3.14 * radius ** 2

# Using string formatting (f-string)
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.